{% extends "../index.html" %}
{% load static %}
{% block content %}
    <div class="center-form-main">
        <!-- Signup Form Card -->
        <div class="col-11 col-md-6 col-lg-4 card shadow-lg form-container">
            <div class="card-body">
                <h3 class="text-center mb-4">Sign Up</h3>
                <form method="post" action="{% url "signup_api" %}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               placeholder="Enter your name"
                               required />
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select" id="role" required>
                            <option value="" disabled selected>Select your role</option>
                            <option value="Doctor">Doctor</option>
                            <option value="Patient">Patient</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="username"
                               class="form-control"
                               id="username"
                               placeholder="Enter your usernaem"
                               required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Enter your password"
                               required />
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                    <div class="text-center mt-3">
                        <p>
                            Already have an account?
                            <a href="{% url "login" %}">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/auth.js' %}"></script>
    <script>
        const _authService = new AuthService();
        async function handleSubmit(event) {
            event.preventDefault()
           await _authService.handleSignup(event);
           return false;
        }

        window.onload = () => {
            // Attach the handleSignup function to the form submit event
            document.querySelector("form").addEventListener("submit", handleSubmit);    
        }
    </script>
{% endblock javascript %}
