{% extends "../index.html" %}
{% block content %}
    <div class="container my-4">
        <h2 class="text-center mb-4">Daily Health Data Log</h2>
        <form class="m-auto" method="post" action="{% url 'health_data_view' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Blood Glucose</h4>
                        {{ blood_glucose_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Medication</h4>
                        {{ medication_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Insulin Use</h4>
                        {{ insulin_use_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ blood_pressure_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ physical_activity_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ step_count_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ dietary_intake_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ weight_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ sleep_patterns_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ mood_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ hydration_form.as_p }}</div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">{{ foot_health_form.as_p }}</div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}
