{% extends "../index.html" %}
{% block content %}
    <div class="container my-4">
        <h2 class="text-center mb-4">Daily Health Data Log</h2>
        <form class="m-auto" method="post" action="{% url 'health_data_view' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Blood Glucose</h4>
                        {{ blood_glucose_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Medication</h4>
                        {{ medication_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Insulin Use</h4>
                        {{ insulin_use_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Blood Pressure</h4>
                        {{ blood_pressure_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Physical Activity</h4>
                        {{ physical_activity_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Step Count</h4>
                        {{ step_count_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Breakfast Intake</h4>
                        {{ dietary_intake_breakfast_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Lunch Intake</h4>
                        {{ dietary_intake_lunch_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Snacks Intake</h4>
                        {{ dietary_intake_snacks_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Dinner Intake</h4>
                        {{ dietary_intake_dinner_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Weight</h4>
                        {{ weight_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Sleep Pattern</h4>
                        {{ sleep_patterns_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Mood</h4>
                        {{ mood_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Hydration</h4>
                        {{ hydration_form.as_p }}
                    </div>
                </div>
                <div class="form-section col-12 col-md-6 col-lg-4">
                    <div class="form-content">
                        <h4>Foot Health</h4>
                        {{ foot_health_form.as_p }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}
