{% extends "../index.html" %}
{% load static %}
{% block extra_css %}
    <style>
        .checkup-item {
            border: 1px solid #dee2e6;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #f8f9fa;
        }
        #pagination button {
            margin: 0 5px;
        }
    </style>
{% endblock extra_css %}
{% block content %}
    <div class="container">
        <h1 class="my-4 text-center">Daily Checkups</h1>
        <!-- Container to display the list of checkups -->
        <div id="checkupContainer" class="mb-4 row"></div>
        <!-- Pagination controls -->
        <div id="pagination" class="d-flex justify-content-center"></div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static "js/daily_detail.js" %}"></script>
    <script>
        window.onload = () => {
            fetchDailyCheckups(`/api/daily_checkup/{{request.user.pk}}`);
        }
    </script>
{% endblock javascript %}
