:root {
    --blue: #6495ed;
    --white: #faf0e6;
    --heading: 30px;
}

.center-form-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bs-body-bg);
    transition: background-color 0.3s;
}

.card {
    max-width: 400px;
    padding: 1.5rem;
}

.form-container {
    max-width: 100%;
}

.form-section {
    padding: 2px;
}

.form-content {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100%;
    padding: 1.5rem;
}

.form-content label {
    display: block;
    font-weight: 500;
}

.form-content input, .form-content select, .form-content textarea{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: .5rem;
    border-radius: 5px;
}

.form-content select:focus {
    outline: 2px solid #6495ed;
    outline-offset: 1px;
}

.form-content input:focus {
    outline: 2px solid #6495ed;
    outline-offset: 1px;
}

.form-content textarea:focus {
    outline: 2px solid #6495ed;
    outline-offset: 1px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}